
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdvertiserLayout.cshtml";
}

<h1>Teklifler</h1>
<a href="/Message/InBox" class="btn btn-gradient-warning">Gelen Teklif Kutusunu Aç</a>
<a href="/Message/SendBox" class="btn btn-gradient-danger">Giden Teklif Kutusunu Aç</a>

