
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<!DOCTYPE html>
<html lang="zxx">


<body>
<section class="main-content-w3layouts-agileits">
        <div class="container">
            <h3 class="tittle">Hakkımızda</h3>
            <div class="row inner-sec">
            <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                    <div class="blog-grid-top">

                        <div class="blog_info_left_grid">
                            <a href="single.html">
                                <img src="~/CoreBlogTema/web/images/b5.jpg" class="img-fluid" alt="">
                            </a>
                        </div>
                        <h3>
                            Alper Sargın Bilgisayar Mühendisliği Öğrencisi
                        </h3>
                        <p>
                            Ben Alper Sargın Bilgisayar Mühendisliği öğrencisiyim.Bugüne kadar pek çok proje geliştirdim.Eğitimler verdim.Bugün ise Payolog/Primefor Firmasında stajımı yapmaktayım.
                        </p>
                    </div>
                    
                </div>
               
                <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                    <div class="right-blog-info text-left">
                        <div class="tech-btm widget_social">
                            <h4>Sosyal Medya Hesaplarımız</h4>
                            <ul>

                                <li>
                                    <a class="twitter" href="https://twitter.com/sargin_alper">
                                        <i class="fab fa-twitter"></i>
                                        Twitter Sayfamız
                                    </a>
                                </li>
                                <li>
                                    <a class="facebook" href="https://www.facebook.com/aaavf/">
                                        <i class="fab fa-facebook-f"></i>
                                        Facebook Sayfamız
                                    </a>
                                </li>
                                <li>
                                    <a class="dribble" href="https://github.com/alpersargin42">
                                        <i class="fab fa-github"></i>
                                        Github Sayfamız
                                    </a>
                                </li>
                                <li>
                                    <a class="pin" href="https://www.linkedin.com/in/alper-sarg%C4%B1n-b14125201/">
                                        <i class="fab fa-linkedin"></i>
                                         LinkedIn Sayfamız
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>
</body>

</html>

