
@{
    ViewData["Title"] = "RoleDelete";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Rolü Silmek İstediğinizden Emin Misiniz?</h1>
<form method="post">
    <div asp-validation-summary="ModelOnly">
    </div>
    <button class="btn btn-danger">Sil</button>
</form>

