
@{
    ViewData["Title"] = "FailSold";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<br />
<br />
<div class="alert alert-danger">
    <strong>İşleminizi Gerçekleştiremiyoruz!</strong> Teklif Onaylanmadı.
</div>
<br />
<br />
<br />
<a href="/ProductC/Index" class="btn btn-primary read-m"> Anasayfaya DÖN</a>
<br />
<br />
<br />

