
@{
    ViewData["Title"] = "SuccessSold";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<br />
<br />
<div class="alert alert-success">
    <strong>İşlem Başarılı!</strong> Başarılı Bir Şekilde Ürün Satıldı.
</div>
<br />
<br />
<br />
<a href="/ProductC/Index" class="btn btn-primary read-m"> Anasayfaya DÖN</a>
<br />
<br />
<br />

