
@{
    ViewData["Title"] = "ProductListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Excel Listesi İndir</h1>
<br />
<a href="/Product/ExportDynamicExcelProductList" class="btn btn-primary">Excel Listesini İndir</a>
@*<button class="btn btn-primary" onclick="DownloadExcelProductList">Excel Listesini İndir</button>*@
@*<script>
        function DownloadExcelProductList() {
            wind.open("/Product/ExportStaticExcelProductList");
        }
    </script>*@

