
@{
    ViewData["Title"] = "ProductTitleListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>ProductTitleListExcel</h1>
<br/>
<a href="/Product/ExportDynamicExcelProductList" class="btn btn-primary">Excel Listesini İndir</a>

