<footer>
    <div class="footer-cpy text-center">
            <div class="footer-social">
                <div class="copyrighttop">
                    <ul>
                        <li class="mx-3">
                            <a class="facebook" href="https://www.facebook.com/aaavf/">
                                <i class="fab fa-facebook-f"></i>
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a class="facebook" href="https://twitter.com/sargin_alper">
                                <i class="fab fa-twitter"></i>
                                <span>Twitter</span>
                            </a>
                        </li>
                        <li class="mx-3">
                            <a class="facebook" href="https://github.com/alpersargin42">
                                <i class="fab fa-github"></i>
                                <span>Github</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="w3layouts-agile-copyrightbottom">
                <p>
                    © @DateTime.Now.Year All Rights Reserved | Design by
                    <a href="https://www.linkedin.com/in/alper-sarg%C4%B1n-b14125201/">Alper Sargın</a>
                </p>
            </div>
        </div>
</footer>